/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/pycrystal.iml
/.idea/vcs.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_12-12-20_17_44_[Default_Changelist]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_12-12-20_17_44__Default_Changelist_.xml
/.idea/workspace.xml
.idea/**
